@model IEnumerable<Badzeet.Web.Features.ScheduledPayments.ScheduledPayments.ScheduledPaymentViewModel>


@foreach (var payment in Model)
{
    <div class="row alert alert-warning">
        <div class="col-10 col-sm-11">
            @payment.Description - <strong>@payment.Amount</strong> - @payment.CategoryName @payment.Date.ToString("yyyy-MM-dd")
        </div>
        <div class="col-2 col-sm-1">
            <form method="post" asp-controller="Payments" asp-action="Transform">
                <input type="hidden" name="id" value="@payment.ScheduledPaymentId" />
                <button class="btn btn-outline-success btn-sm">
                    <i class="fas fa-check"></i>
                </button>
            </form>
        </div>
    </div>
}