@model Badzeet.Web.Features.DashboardViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Badzeet</h1>

    @if (Context.User.Identity.IsAuthenticated == false)
    {

        <h2>Login</h2>
        <partial name="/Views/Account/_Login.cshtml" />
        <text>
            Want to use it? Register <a asp-controller="Account" asp-action="Register">here</a>. It's <b>free</b>!
        </text>

        <p class="mt-5">
            For demo login click <a id="myLink" href="/" onclick="demoLogIn">here</a>
        </p>
        <p>or</p>
        <p>login using <code>bob/bob</code></p>
    }
</div>
@if (Context.User.Identity.IsAuthenticated == false)
{
    <script type="text/javascript">
        function registerEvent() {
            var link = document.getElementById("myLink");
            link.addEventListener("click", function (event) {
                event.preventDefault();
                var username = document.getElementById("username");
                var password = document.getElementById("password");
                var form = document.getElementById("loginForm");

                username.value = "bob";
                password.value = "bob";
                form.submit();
            });
        }
        window.onload = registerEvent();
    </script>
}
else
{
    <label>@Model.Interval.From.ToString("yyyy-MM-dd") - @Model.Interval.To.ToString("yyyy-MM-dd")</label>

    <table class="table table-sm table-striped">
        <tr>
            <th></th>
            @foreach (var u in Model.Users)
            {
                <th>@u.Nickname</th>
            }
            <th>total</th>
        </tr>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td><b>@category.Name</b></td>
                @foreach (var user in Model.Users)
                {
                    <td>@Model.Transactions.Where(x => x.UserId == user.UserId).Where(x => x.CategoryId == category.Id).Sum(x => x.Amount)</td>
                }
                <td><b>@Model.Transactions.Where(x => x.CategoryId == category.Id).Sum(x => x.Amount)</b></td>
            </tr>
        }
        <tr>
            <td><b>not categorized</b></td>
            @foreach (var user in Model.Users)
            {
                <td>@Model.Transactions.Where(x => x.UserId == user.UserId).Where(x => x.CategoryId == null).Sum(x => x.Amount)</td>
            }
            <td><b>@Model.Transactions.Where(x => x.CategoryId == null).Sum(x => x.Amount)</b></td>
        </tr>
        <tr>
            <td>Sum</td>
            @foreach (var user in Model.Users)
            {
                <td>@Model.Transactions.Where(x => x.UserId == user.UserId).Sum(x => x.Amount)</td>
            }
            <td><b>@Model.Transactions.Sum(x => x.Amount)</b></td>
        </tr>
    </table>
}