@model Badzeet.Web.Features.Payments.PendingPaymentsViewComponent.PendingPaymentsViewModel


@if (Model.PendingPayments.Any())
{
    <div class="card mb-4">
        <h5 class="card-header bg-secondary text-white">Pending payments</h5>
        <div class="card-body">
            <table class="table table-sm">
                @foreach (var payment in Model.PendingPayments)
                {
                    <tr>
                        <td>@payment.Description</td>
                        <td>@payment.Amount.ToString("F0")</td>
                        <td>@payment.CategoryName</td>
                        <td>@payment.Owner</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="btn btn-link py-0 pr-0" asp-controller="Payments" asp-action="Edit" asp-route-id="@payment.Id">
                                    <i class="fa fa-edit fa-sm"></i>
                                </a>
                                <form method="post" asp-controller="Payments" asp-action="Transform">
                                    <input type="hidden" name="id" value="@payment.Id" />
                                    <button class="btn btn-link py-0 pr-0">
                                        <i class="fa fa-check fa-sm"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}