@model List<Badzeet.Web.Features.UserAccounts.UserAccount>

<div class="card mb-4">
    <h5 class="card-header bg-secondary text-white">User accounts</h5>
    <div class="card-body">
        <table class="table table-sm">

            <tr>
                <th>User</th>
                <th>Balance</th>
                <th>Expenses</th>
                <th>Final balance</th>
            </tr>
            @foreach (var account in Model)
            {
                <tr>
                    <td>@account.Name</td>
                    <td>@(account.Balance?.ToString("F0") ?? "Not set")</td>
                    <td>@account.Expenses.ToString("F0")</td>
                    <td>@(account.FinalBalance?.ToString("F0") ?? "Not set")</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn btn-link py-0 pr-0" asp-controller="UserAccount" asp-action="Edit" asp-route-userId="@account.UserId">
                                <i class="fa fa-edit fa-sm"></i>
                            </a>
                            <form method="post" asp-controller="UserAccount" asp-action="Edit">
                                <input type="hidden" name="userId" value="@account.UserId" />
                                <input type="hidden" name="balance" value="@account.FinalBalance" />
                                <button class="btn btn-link py-0 pr-0">
                                    <i class="fa fa-check fa-sm"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>