@model Badzeet.Web.Features.Budget.BudgetViewModel
@{
    ViewData["Title"] = "Budget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-sm">
    <tr>
        <td>
            Spend:
        </td>
        <td>
            @Model.Spend.ToString("F0")
        </td>
    </tr>
    <tr>
        <td>
            Budget:
        </td>
        <td>
            @Model.Budget.ToString("F0")
        </td>
    </tr>
    <tr>
        <td>
            Remaining Budget:
        </td>
        <td class="@(Model.RemainingBudget > 0?"table-success":"table-danger") ">
            @Model.RemainingBudget.ToString("F0")
        </td>
    </tr>
    @if (Model.IsOngoing)
    {
        <tr>
            <td>
                Remaining Days:
            </td>
            <td>
                @((int)(Model.BudgetInterval.To - DateTime.Now).TotalDays)
            </td>
        </tr>
    }
</table>

<table class="table table-sm">
    @foreach (var category in Model.Categories)
    {
        <tr class="table-primary">
            <td colspan="2">
                @category.Name
            </td>
            <td>@category.Total.ToString("F0")</td>
            <td>@category.Budget</td>
        </tr>

        @foreach (var u in category.Users)
        {
            <tr>
                <td></td>
                <td>
                    @u.Name
                </td>
                <td>
                    @u.Total.ToString("F0")
                </td>
                <td>
                </td>
            </tr>
        }
    }
</table>

<a class="btn btn-primary form-control" asp-action="Edit">Edit</a>