@model Badzeet.Web.Features.Budget.BudgetController.BudgetViewModel
@{
    ViewData["Title"] = "Budget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>
        @if (Model.BudgetId > 0)
        {
            <span>
                <a asp-action="Index" asp-route-budgetId="@(Model.BudgetId - 1)">
                    <i class="fas fa-angle-left"></i>
                </a>
            </span>
        }
        @Model.BudgetInterval.From.ToString("dd MMM") - @Model.BudgetInterval.To.ToString("dd MMM")

        <span>
            <a asp-action="Index" asp-route-budgetId="@(Model.BudgetId + 1)">
                <i class="fas fa-angle-right"></i>
            </a>
        </span>
    </h2>
</div>

@(await Component.InvokeAsync<Badzeet.Web.Features.Budget.SummaryViewComponent>(new { accountId = this.Context.Items["da"], budgetId = Model.BudgetId  }))
@(await Component.InvokeAsync<Badzeet.Web.Features.Payments.PendingPaymentsViewComponent>(new { UserId = this.Context.Items["ui"], accountId = this.Context.Items["da"] }))
@(await Component.InvokeAsync<Badzeet.Web.Features.Budget.BudgetViewComponent>(new { accountId = this.Context.Items["da"], budgetId = Model.BudgetId  }))