@model Badzeet.Web.Features.Budget.BudgetController.BudgetViewModel
@{
    ViewData["Title"] = "Budget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>
        <span>
            @if (Model.BudgetNavigation.Previous.BudgetId.HasValue)
            {
                <a asp-action="Index" asp-route-budgetId="@(Model.BudgetNavigation.Previous.BudgetId.Value)">
                    <i class="fas fa-angle-left"></i>
                </a>
            }
            else
            {
                <a asp-action="Index" asp-controller="Dashboard" asp-route-date="@(Model.BudgetNavigation.Previous.FirstBudgetDate)">
                    <i class="fas fa-angle-left"></i>
                </a>
            }
        </span>
        @Model.BudgetInterval.From.ToString("dd MMM") - @Model.BudgetInterval.To.ToString("dd MMM")

        <span>
            @if (Model.BudgetNavigation.Next.BudgetId.HasValue)
            {
                <a asp-action="Index" asp-route-budgetId="@(Model.BudgetNavigation.Next.BudgetId.Value)">
                    <i class="fas fa-angle-right"></i>
                </a>
            }
            else
            {
                <a asp-action="Index" asp-controller="Dashboard" asp-route-date="@(Model.BudgetNavigation.Next.FirstBudgetDate)">
                    <i class="fas fa-angle-right"></i>
                </a>
            }
        </span>
    </h2>
</div>

@(await Component.InvokeAsync<Badzeet.Web.Features.Budget.SummaryViewComponent>(new { accountId = this.Context.Items["da"], budgetId = Model.BudgetId  }))
@(await Component.InvokeAsync<Badzeet.Web.Features.Payments.PendingPaymentsViewComponent>(new { UserId = this.Context.Items["ui"], accountId = this.Context.Items["da"] }))
@(await Component.InvokeAsync<Badzeet.Web.Features.Budget.BudgetViewComponent>(new { accountId = this.Context.Items["da"], budgetId = Model.BudgetId  }))