@model Badzeet.Web.Features.Budget.SummaryViewComponent.SummaryViewModel


<div class="card mb-4">
    <h5 class="card-header bg-primary text-white">
        Summary
    </h5>
    <div class="card-body">
        <table class="table table-sm">
            <tr>
                <td class="text-right">
                    Spend:
                </td>
                <td class="text-left">
                    @Model.Spend.ToString("F0")
                </td>
                <td class="text-left">(@(Model.SpendPercent.ToString("P0")))</td>
                <td></td>
            </tr>
            <tr>
                <td class="text-right">
                    Budget:
                </td>
                <td>
                    @Model.Budget.ToString("F0")
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="text-right">
                    Remaining budget:
                </td>
                <td class="@(Model.RemainingBudget > 0 ? "text-success" : "text-danger") ">
                    @Model.RemainingBudget.ToString("F0")
                </td>
                <td class="text-left">(@Model.RemainingBudgetPercent.ToString("P0"))</td>
                <td></td>
            </tr>
            @if (Model.Pending > 0m)
            {
                <tr>
                    <td class="text-right">Pending payments</td>
                    <td>@Model.Pending.ToString("F0")</td>
                    <td></td>
                    <td></td>
                </tr>
                @if (Model.Budget > 0m)
                {
                    <tr>
                        <td class="text-right">Remainging inc. pending</td>
                        <td>@((Model.RemainingBudget - Model.Pending).ToString("F0")) </td>
                        <td>(@(((Model.RemainingBudget - Model.Pending) / Model.Budget).ToString("P0")))</td>
                        <td></td>
                    </tr>
                }
            }
            @if (Model.IsOngoing)
            {
                <tr>
                    <td class="text-right">
                        Remaining days:
                    </td>
                    <td>
                        @{
                            var remaining = (Model.BudgetInterval.To - DateTime.Now).TotalDays;
                            var total = (Model.BudgetInterval.To - Model.BudgetInterval.From).TotalDays;
                        }

                        @((int)Math.Ceiling(remaining)) (@((remaining / total).ToString("P0")))
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                @if (remaining != 0)
                {
                    <tr>
                        <td class="text-right">Remaining daily average</td>
                        <td>@(((double)Model.RemainingBudget / (remaining)).ToString("F0"))</td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            }

            <tr>
                <th class="text-right col-6">Spend per user</th>
                <td class="col-1"></td>
                <td class="col-1"></td>
                <td class="col-4"></td>
            </tr>
            @foreach (var u in Model.Totals)
            {
                <tr>
                    <td class="text-right">@u.Username</td>
                    <td>@u.Total.ToString("F0")</td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </table>
    </div>
</div>